{% extends 'base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white shadow-md rounded-xl p-6 mt-8">
    <h2 class="text-2xl font-bold mb-6">Вход</h2>
    <form method="post" class="space-y-4">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="bg-red-100 text-red-700 border border-red-300 p-3 rounded mb-4">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}


        <div>
            <label for="{{ form.email.id_for_label }}" class="block text-gray-700 mb-1 font-medium">Email:</label>
            <input type="email" name="email" id="{{ form.email.id_for_label }}" value="{{ form.email.value|default_if_none:'' }}"
                   class="w-full border rounded p-2" required>
        </div>

        <div>
            <label for="{{ form.password.id_for_label }}" class="block text-gray-700 mb-1 font-medium">Пароль:</label>
            <input type="password" name="password" id="{{ form.password.id_for_label }}"
                   class="w-full border rounded p-2" required>
        </div>

        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 w-full">Войти</button>
    </form>

</div>
{% endblock %}
