{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Главная страница{% endblock %}</title>
    {% tailwind_css %}
</head>
<body>
    <header>
        <h1 class="text-4xl text-red-500">Мой интернет-магазин</h1>
        <strong>This is the best</strong>
    </header>

    <div class="content">
        {% block content %}
        {% for product in products %}
            <p>{{ product }}</p>
        {% endfor %}
    {% endblock %}
    </div>

    <footer>
        <p>Все права защищены</p>
    </footer>
</body>
</html>